<div class="header">
	<div class="sender">
		<p class="sender__name">
			{{ _config.user.name }}
		</p>
		<p class="sender__address">
			{{ _config.user.address | striptags(true) | escape | nl2br }}
		</p>
	</div>

	<div class="client">
		<p class="client__address">
			{{ client.address }}
		</p>
		{% if client.billingAddress %}
			<div class="client__billing-address">
				{{ client.billingAddress }}
			</div>
		{% endif %}
	</div>
</div>