<table class="items margin-top">
	<thead class="color">
		<tr>
			<th>Description</th>
			<th>PU&nbsp;HT*</th>
			<th>Quantit&eacute;</th>
			<th>Prix&nbsp;HT*</th>
		</tr>
	</thead>
	<tbody>
		{% for item in items %}
			<tr>
				<td>
					<p class="item-name">{{ item.name }}</p>
					{% if item.description %}
						<p class="item-description">{{ item.description | safe | nl2br }}</p>
					{% endif %}
				</td>
				<td class="number">
					{{ item.unitPrice }}&nbsp;&euro;
				</td>
				<td class="number">
					{{ item.quantity }}
				</td>
				<td class="number">
					{{ item.total }}&nbsp;&euro;
				</td>
			</tr>
		{% endfor %}
	</tbody>
	<tfoot>
		<tr>
			<td colspan="2"></td>
			<td>
				<p class="color">Total&nbsp;HT*</p>
			</td>
			<td>
				<p class="total number">{{ total }}&nbsp;&euro;</p>
			</td>
		</tr>
	</tfoot>
</table>