<table class="items margin-top">
	<thead class="color">
		<tr>
			<th>Description</th>
			<th class="delivery-hidden">PU&nbsp;HT</th>
			<th>Qt&eacute;</th>
			<th class="delivery-hidden">Prix&nbsp;HT</th>
			<th class="delivery-hidden">TVA</th>
		</tr>
	</thead>
	<tbody>
		{% for item in items %}
			<tr>
				<td>
					<p class="item-name">{{ item.name | safe }}</p>
					{% if item.description %}
						<p class="item-description">{{ item.description | safe | nl2br }}</p>
					{% endif %}
				</td>
				<td class="number delivery-hidden">
					{{ item.unitPrice }}&nbsp;&euro;
				</td>
				<td class="number">
					{{ item.quantity }}
				</td>
				<td class="number delivery-hidden">
					{{ item.extax }}&nbsp;&euro;
				</td>
				<td class="number delivery-hidden">
					{{ item.taxStr }}
				</td>
			</tr>
		{% endfor %}
		<tr class="foot extax-line delivery-hidden">
			<td colspan="1"></td>
			<td colspan="2">
				<p class="color">Total&nbsp;HT</p>
			</td>
			<td colspan="2">
				<p class="total number">{{ total.extax }}&nbsp;&euro;</p>
			</td>
		</tr>
		<tr class="foot tax-line delivery-hidden">
			<td colspan="1"></td>
			<td colspan="2">
				<p>TVA</p>
			</td>
			<td colspan="2">
				<p class="number">{{ total.tax }}&nbsp;&euro;</p>
			</td>
		</tr>
		<tr class="foot total-line delivery-hidden">
			<td colspan="1"></td>
			<td colspan="2">
				<p>Total&nbsp;TTC</p>
			</td>
			<td colspan="2">
				<p class="number">{{ total.taxIncluded }}&nbsp;&euro;</p>
			</td>
		</tr>
	</tbody>
</table>
