<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>Facture {{ invoice.id }}</title>
	<style>
		{% include "./styles.css" %}
	</style>
</head>
	<body class="invoice">
		<div class="main-container">
			{% include "./_header.njk" %}

			<h1 class="main-title margin-top">
				Facture 
				{% if invoice.id %}
					n° <span class="invoice-id">{{ invoice.id }}</span>
				{% endif %}
			</h1>
			
			<table class="informations">
				<tbody>
					<tr>
						<td>Prestation</td>
						<td>{{ title }}</td>
					</tr>
					<tr>
						<td>Date d'émission</td>
						<td>{{ invoice.date }}</td>
					</tr>
					<tr>
						<td>Date de livraison</td>
						<td>{{ invoice.deliveryDate }}</td>
					</tr>
					<tr>
						<td>Payable à réception.</td>
						<td></td>
					</tr>
				</tbody>
			</table>

			{% include "./_items.njk" %}

			<div class="mentions">
				<p>*TVA non applicable, art. 293 B du CGI</p>
				<p>Dispensé d’immatriculation au Registre du Commerce et des Sociétés et au répertoire des métiers.</p>
				<p>Indemnité forfaitaire pour frais de recouvrement en cas de retard de paiement : 40 €.</p>
			</div>

			{% include "./_bank.njk" %}

			{% if _config.invoiceInformation %}
				<p class="additional-information margin-top">
					{{ _config.invoiceInformation | safe | nl2br }}
				</p>
			{% endif %}
		</div>
	</body>
</html>