<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>Facture {{ invoice.id }}</title>
	<style>
		{% include "./styles.css" %}
	</style>
</head>
	<body class="invoice">
		<div class="main-container">
			<div class="header">
				<div class="sender">
					<p class="sender__name label">{{ _config.name | safe | nl2br }}</p>
					<p class="sender__address">
						{{ _config.address | safe | nl2br }}
					</p>
				</div>

				<div class="client">
					{% if client.address %}
					<div class="client__address">
						<p class="label">Livraison</p>
						<p>{{ client.address | safe | nl2br }}</p>
					</div>
					{% endif %}

					{% if client.billingAddress %}
						<div class="client__billingAddress">
						<p class="label">Facturation</p>
						<p>{{ client.billingAddress | safe | nl2br }}</p>
					{% endif %}
						</div>
				</div>
			</div>

			<h1 class="main-title margin-top">
				Facture 
				{% if invoice.id %}
					n° <span class="invoice-id">{{ invoice.id }}</span>
				{% endif %}
			</h1>
			
			<table class="informations">
				<tbody>
					<tr>
						<td>Prestation</td>
						<td>{{ title }}</td>
					</tr>
					<tr>
						<td>Date d'émission</td>
						<td>{{ invoice.date }}</td>
					</tr>
					<tr>
						<td>Date de livraison</td>
						<td>{{ invoice.deliveryDate }}</td>
					</tr>
					<tr>
						<td>Payable à réception.</td>
						<td></td>
					</tr>
				</tbody>
			</table>

			<table class="items margin-top">
				<thead class="color">
					<tr>
						<th>Description</th>
						<th>PU&nbsp;HT*</th>
						<th>Quantit&eacute;</th>
						<th>Prix&nbsp;HT*</th>
					</tr>
				</thead>
				<tbody>
					{% for item in items %}
						<tr>
							<td>
								<p class="item-name">{{ item.name }}</p>
								{% if item.description %}
									<p class="item-description">{{ item.description }}</p>
								{% endif %}
							</td>
							<td class="number">
								{{ item.unitPrice }}&nbsp;&euro;
							</td>
							<td class="number">
								{{ item.quantity }}
							</td>
							<td class="number">
								{{ item.total }}&nbsp;&euro;
							</td>
						</tr>
					{% endfor %}
				</tbody>
				<tfoot>
					<tr>
						<td colspan="2"></td>
						<td>
							<p class="color">Total&nbsp;HT*</p>
						</td>
						<td>
							<p class="total number">{{ total }}&nbsp;&euro;</p>
						</td>
					</tr>
				</tfoot>
			</table>

			{% if _config.bank %}
				<div class="bank-section margin-top">
					<p class="label">Coordonnées bancaires</p>
					<p class="bank">
						{{ _config.bank | safe | nl2br }}
					</p>
				</div>
			{% endif %}

			{% if _config.additionalInformation %}
				<p class="additionalInformation margin-top">
					{{ _config.additionalInformation | safe | nl2br }}
				</p>
			{% endif %}
		</div>
	</body>
</html>