<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>Devis {{ quote.id }}</title>
	<style>
		{% include "./styles.css" %}
	</style>
</head>
	<body class="quote">
		<div class="main-container">
			{% include "./_header.njk" %}

			<h1 class="main-title margin-top">
				Devis
			</h1>

			<table class="informations">
				<tbody>
					<tr>
						<td>Prestation</td>
						<td>{{ title }}</td>
					</tr>
					<tr>
						<td>Date d'émission</td>
						<td>{{ quote.date }}</td>
					</tr>
					<tr>
						<td>Numéro de devis</td>
						<td>{{ quote.id }}</td>
					</tr>
				</tbody>
			</table>

			{% include "./_items.njk" %}

			<div class="mentions">
				<p>*TVA non applicable, art. 293 B du CGI</p>
			</div>

			<div class="signature margin-top">
				Signature du commanditaire précédée de la date et de la mention « Bon pour accord »
			</div>

			{% if quote.information %}
				<p class="additional-information margin-top">
					{{ quote.information | safe | nl2br }}
				</p>
			{% elif _config.quoteInformation %}
				<p class="additional-information margin-top">
					{{ _config.quoteInformation | safe | nl2br }}
				</p>
			{% endif %}
		</div>
	</body>
</html>
